extends layout

block content
  //h3= title
  
  div#game-grid
    div
      each category in game.categories
        div.category
          div.header
            span.text= category.name
    div
      each category in game.categories
        div.category
          each question in category.questions
            div.question(id="c"+ci+"q"+qi)
              span.value= question.value
              div.qtext
                span.q= question.question


append scripts
  script(type="text/javascript").
    var socket = Jeopardy.initViewer("ws://localhost:5900", "#{game._doc._id}", "#{game_session}");