extends layout

block content
  div#game-grid
    div
      each category in game.categories
        div.category
          div.header
            span.text= category.name
    div
      each category, ci in game.categories
        div.category
          each question, qi in category.questions
            div.question(id="c"+ci+"q"+qi)
              span.value= question.value
              div.qtext
                span.q!= question.question


append scripts
  script(type="text/javascript").
    var socket = Jeopardy.initViewer("#{ws_domain}", "#{game._doc._id}", "#{game_session}");